{% extends 'BlogBundle::layout.html.twig' %}

{% block blog_tagline %}<h1>Blog post creation!</h1>{% endblock %}

{% block body %}
    <div class="formBlog">
        {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
    </div>
{% endblock %}