{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        {% for user in users %}
            <li><strong>{{ user.fullname }}</strong> - {{ user.username }} ({{ user.email }})</li>
        {% else %}
            <li>No users.</li>
        {% endfor %}
    </ul>
{% endblock %}